Repository boostcampwm-2022/web08-ChoBab, pull requests merged in 2022-11, with the labels that each got.

#1 docs: 커스텀 PR 템플릿 등록
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#2 docs: PR 템플릿 수정 및 테스트를 위한 README.md 내 팀명 추가
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: documentation

#9 공통 환경 설정
  .gitignore
  .prettierignore
  .prettierrc
  client/.gitignore
  client/package-lock.json
  client/package.json
  server/.gitignore
  server/.prettierrc
  server/package-lock.json
  server/package.json
Labels: Server, Client

#13 이슈템플릿 내 체크리스트 FE, BE 분화
  .github/ISSUE_TEMPLATE/customissue.md
Labels: documentation

#22 Backend ESLint 설정
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
Labels: Server, ⚙️ Setting

#24 Vite React-ts 템플릿에 절대경로 설정
  client/tsconfig.json
  client/vite.config.ts
Labels: 💎 Client, ⚙️ Setting

#25 Frontend 폴더 구조 세팅
  client/src/assets/.gitkeep
  client/src/components/.gitkeep
  client/src/constants/.gitkeep
  client/src/hooks/.gitkeep
  client/src/pages/.gitkeep
  client/src/types/.gitkeep
  client/src/utils/.gitkeep
  client/tsconfig.json
  client/vite.config.ts
Labels: 💎 Client, ⚙️ Setting

#27 release, prod 브랜치 자동 배포 로직 작성 (CD)
  .github/workflows/CD.yml
Labels: ⚙️ Setting

#29 CD.yml (Auto Deployment) 파일의 오류 수정
  .github/workflows/CD.yml
Labels: 🚑 hotfix, ⚙️ Setting

#30 2주차 수요일 정기 배포 중 발생한 에러 핫픽스
  .github/workflows/CD.yml
Labels: 🚑 hotfix

#26 Frontend 페이지 라우터 설정
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/Router.tsx
  client/src/main.tsx
  client/src/styles/GlobalStyle.tsx
  client/src/styles/Variables.ts
  client/tsconfig.json
  client/vite.config.ts
Labels: 💎 Client, ⚙️ Setting

#31 서비스 시작화면 구현
  client/package-lock.json
  client/package.json
  client/src/Router.tsx
  client/src/assets/fonts/.gitkeep
  client/src/assets/images/.gitkeep
  client/src/assets/images/logo.svg
  client/src/pages/HomePage/index.tsx
  client/src/pages/HomePage/styles.tsx
  client/src/styles/GlobalStyle.tsx
  client/src/styles/Variables.ts
  client/src/types/.gitkeep
  client/src/types/svg.d.ts
  client/vite.config.ts
Labels: 💎 Client

#43 커밋 시 자동 린트 적용 로직 작성
  client/package-lock.json
  client/package.json
  server/.husky/pre-commit
  server/package-lock.json
  server/package.json
Labels: ⚙️ Setting

#44 API 응답 템플릿 설정
  server/src/common/interceptors/template.interceptor.ts
  server/src/main.ts
Labels: 💻 Server

#47 Backend MongoDB 연동, room 스키마 생성
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/room/room.module.ts
  server/src/room/room.schema.ts
Labels: 💻 Server, ✨ Feature, ⚙️ Setting

#49 Exception 응답 형식 설정
  server/src/common/exceptions/custom.exception.ts
  server/src/common/filters/exception.filter.ts
  server/src/main.ts
  server/tsconfig.json
Labels: 💻 Server, ⚙️ Setting

#46 지도 API 연동
  .github/workflows/CD.yml
  .github/workflows/dev-check.yml
  client/.eslintrc.json
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/Router.tsx
  client/src/pages/InitRoomPage/index.tsx
  client/src/pages/InitRoomPage/styles.tsx
  client/vite.config.ts
  server/.eslintrc.js
Labels: 💎 Client, ✨ Feature, ⚙️ Setting

#48 확정된 위치에 따른 음식점 데이터 불러오기 API 구현
  client/package-lock.json
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/restaurant/dto/get-restaurant.dto.ts
  server/src/restaurant/restaurant.controller.ts
  server/src/restaurant/restaurant.d.ts
  server/src/restaurant/restaurant.module.ts
  server/src/restaurant/restaurant.service.ts
  server/src/restaurant/retaurant.constants.ts
  server/tsconfig.json
Labels: 💻 Server, ✨ Feature

#52 모임방 생성 API
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/constants/location.ts
  server/src/constants/restaurant.ts
  server/src/main.ts
  server/src/restaurant/restaurant.controller.ts
  server/src/restaurant/restaurant.service.ts
  server/src/room/dto/create-room.dto.ts
  server/src/room/room.controller.ts
  server/src/room/room.module.ts
  server/src/room/room.service.ts
  server/src/utils/location.ts
  server/tsconfig.json
Labels: 💻 Server, ✨ Feature, ⚙️ Setting

#55 내 위치 받아오기 & 내 위치 마커로 찍기
  client/src/constants/map.ts
  client/src/hooks/useCurrentLocation.tsx
  client/src/pages/InitRoomPage/index.tsx
  client/src/pages/InitRoomPage/styles.tsx
Labels: 💎 Client, ✨ Feature

#57 모임 검증 API
  server/src/restaurant/dto/get-restaurant.dto.ts
  server/src/restaurant/restaurant.controller.ts
  server/src/restaurant/restaurant.d.ts
  server/src/restaurant/restaurant.service.ts
  server/src/room/room.controller.ts
  server/src/room/room.service.ts
Labels: 💻 Server, ✨ Feature

#51 Client, Server Socket.io 설정 및 예제코드 작성
  client/package-lock.json
  client/package.json
  client/src/Router.tsx
  client/src/hooks/useSocket.ts
  client/src/main.tsx
  client/src/pages/RoomPage/index.tsx
  client/vite.config.ts
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/socket/socket.gateway.ts
  server/tsconfig.json
Labels: 💻 Server, 💎 Client, ⚙️ Setting

#67 Backend 응답/예외 관련 파일 분리
  server/src/common/response/index.ts
  server/src/common/response/location.ts
  server/src/common/response/restaurant.ts
  server/src/common/response/room.ts
  server/src/restaurant/restaurant.service.ts
  server/src/room/room.controller.ts
  server/src/room/room.service.ts
  server/tsconfig.json
Labels: 💻 Server, ✨ Feature, ⚙️ Setting

#78 잘못 삭제된 패키지 복구 작업
  server/package-lock.json
  server/package.json
Labels: 🚑 hotfix

#79 4주차 월요일 release 배포
  README.md
  client/package-lock.json
  client/package.json
  client/src/Router.tsx
  client/src/hooks/useSocket.ts
  client/src/main.tsx
  client/src/pages/RoomPage/index.tsx
  client/vite.config.ts
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/common/response/index.ts
  server/src/common/response/location.ts
  server/src/common/response/restaurant.ts
  server/src/common/response/room.ts
  server/src/restaurant/restaurant.service.ts
  server/src/room/room.controller.ts
  server/src/room/room.service.ts
  server/src/socket/socket.gateway.ts
  server/tsconfig.json
Labels: Release

#58 지도 드래그 이동 & 중심 위치를 주소로 렌더링
  .github/workflows/CD.yml
  .github/workflows/dev-check.yml
  client/index.html
  client/package-lock.json
  client/src/apis/.gitkeep
  client/src/assets/images/marker.svg
  client/src/constants/map.ts
  client/src/pages/InitRoomPage/index.tsx
  client/src/pages/InitRoomPage/styles.tsx
Labels: 💎 Client, ✨ Feature

#83 모임 참여(소켓 접속)시 세션 생성
  server/package-lock.json
  server/package.json
  server/src/main.ts
  server/src/socket/socket.d.ts
  server/src/socket/socket.gateway.ts
  server/src/utils/session.ts
Labels: 💻 Server, ✨ Feature

#85 애플리케이션 title 변경 및 favicon 설정
  client/index.html
  client/package-lock.json
  client/package.json
  client/public/assets/favicon.png
  client/vite.config.ts
Labels: 💎 Client

#90 모임 위치 검색 기능 - naver map 생성 로직 커스텀 훅으로 분리
  client/src/components/MeetLocationSettingMap/index.tsx
  client/src/hooks/useNaverMaps.tsx
Labels: 🛠 Refactor

#89 Typescript 네이밍 통일
  client/src/hooks/useCurrentLocation.tsx
  server/src/common/interceptors/template.interceptor.ts
  server/src/restaurant/restaurant.d.ts
  server/src/restaurant/restaurant.service.ts
  server/src/room/room.controller.ts
  server/src/room/room.schema.ts
  server/src/socket/socket.gateway.ts
Labels: 🛠 Refactor

#88 모임 위치 검색 기능
  client/package-lock.json
  client/package.json
  client/src/assets/images/search.svg
  client/src/components/MeetLocationSettingFooter/index.tsx
  client/src/components/MeetLocationSettingFooter/styles.tsx
  client/src/components/MeetLocationSettingMap/index.tsx
  client/src/components/MeetLocationSettingMap/styles.tsx
  client/src/hooks/useNaverMaps.tsx
  client/src/pages/InitRoomPage/index.tsx
  client/src/pages/InitRoomPage/styles.tsx
  client/src/store/index.tsx
  client/tsconfig.json
  client/vite.config.ts
Labels: 💎 Client, ✨ Feature
