Repository boostcampwm-2022/web08-ChoBab, pull requests merged in 2022-12, with the labels that each got.

#97 목록/지도 보기, 후보 리스트 버튼
  client/src/assets/images/candidate-list.svg
  client/src/assets/images/list-icon.svg
  client/src/assets/images/map-icon.svg
  client/src/pages/MainPage/index.tsx
  client/src/pages/MainPage/styles.tsx
Labels: 💎 Client, ✨ Feature

#94 길찾기 API
  server/src/app.module.ts
  server/src/common/response/common.ts
  server/src/common/response/map.ts
  server/src/constants/api.ts
  server/src/map/dto/get-driving-query.dto.ts
  server/src/map/map.controller.ts
  server/src/map/map.d.ts
  server/src/map/map.module.ts
  server/src/map/map.service.ts
  server/tsconfig.json
Labels: 💻 Server, ✨ Feature

#92 메인 화면 입장 시 서버로부터 중복으로 4번 데이터를 가져오는 오류 수정
  client/package.json
  client/src/components/MeetLocationSettingMap/index.tsx
  client/src/hooks/useCurrentLocation.tsx
  client/src/pages/HomePage/index.tsx
  client/src/pages/InitRoomPage/index.tsx
  client/src/pages/MainPage/index.tsx
Labels: 🐞bug, 💎 Client

#95 지도에 음식점 마커 표시
  client/src/assets/images/chicken.svg
  client/src/assets/images/dumpling.svg
  client/src/assets/images/hamburger.svg
  client/src/assets/images/hotdog.svg
  client/src/assets/images/rice.svg
  client/src/assets/images/spaghetti.svg
  client/src/assets/images/sushi.svg
  client/src/components/MainMap/index.tsx
  client/src/components/MainMap/styles.tsx
  client/src/pages/MainPage/index.tsx
Labels: 🛠 Refactor, 💎 Client, ✨ Feature

#99 사용자 닉네임 랜덤 함수
  server/src/constants/nickname.ts
  server/src/utils/nickname.ts
Labels: 💻 Server, ✨ Feature

#96 초대 링크 공유
  client/src/assets/images/share.svg
  client/src/components/LinkShareButton/index.tsx
  client/src/components/LinkShareButton/styles.tsx
  client/src/pages/MainPage/index.tsx
Labels: 💎 Client, ✨ Feature

#100 접속자 현황 리스트 구현
  .gitignore
  client/src/assets/images/user.svg
  client/src/components/ActiveUserInfo/index.tsx
  client/src/components/ActiveUserInfo/styles.tsx
  client/src/components/LinkShareButton/styles.tsx
  client/src/components/Modal/index.tsx
  client/src/components/Modal/styles.tsx
  client/src/pages/MainPage/index.tsx
  client/src/pages/MainPage/styles.tsx
  server/package-lock.json
  server/package.json
  server/src/constants/time.ts
  server/src/room/room.schema.ts
  server/src/socket/dto/connect-room.dto.ts
  server/src/socket/socket.d.ts
  server/src/socket/socket.gateway.ts
  server/src/utils/session.ts
Labels: 💻 Server, 💎 Client, ✨ Feature

#102 마커 클러스터화 작업
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/assets/images/loading-spinner.svg
  client/src/components/MainMap/index.tsx
  client/src/components/MainMap/styles.tsx
  client/src/hooks/useNaverMaps.tsx
  client/src/pages/MainPage/index.tsx
  client/src/styles/marker.module.css
  client/src/types/naverMapsMarkerClustering.d.ts
  client/src/utils/MarkerClustering.js
Labels: 💎 Client, ✨ Feature

#104 CI/CD 개선
  .github/workflows/cd.yml
  .github/workflows/dev-check.yml
  .gitignore
  script/client-deploy.sh
  script/server-deploy.sh
Labels: ⚙️ Setting

#111 toast 공통 컴포넌트 구현
  client/src/App.tsx
  client/src/components/LinkShareButton/index.tsx
  client/src/components/MeetLocationSettingFooter/index.tsx
  client/src/components/Toast/index.tsx
  client/src/components/Toast/styles.tsx
  client/src/constants/toast.ts
  client/src/hooks/useToast.tsx
  client/src/store/index.tsx
Labels: 💎 Client, ✨ Feature

#112 모임장소 반경 내 음식점 확인
  client/package-lock.json
  client/package.json
  client/src/assets/images/map-location.svg
  client/src/assets/images/star-icon.svg
  client/src/components/ActiveUserInfo/index.tsx
  client/src/components/ActiveUserInfo/styles.tsx
  client/src/components/RestaurantDetailLayer/index.tsx
  client/src/components/RestaurantDetailLayer/styles.tsx
  client/src/components/RestaurantFiltered/index.tsx
  client/src/components/RestaurantFiltered/styles.tsx
  client/src/components/RestaurantListLayer/index.tsx
  client/src/components/RestaurantListLayer/styles.tsx
  client/src/components/RestaurantRow/index.tsx
  client/src/components/RestaurantRow/styles.tsx
  client/src/constants/modal.ts
  client/src/pages/MainPage/index.tsx
  client/src/pages/MainPage/styles.tsx
  client/src/store/index.tsx
  client/src/styles/GlobalStyle.tsx
  client/src/styles/Variables.ts
  client/src/types/socket.d.ts
Labels: 💎 Client, ✨ Feature

#115 상세화면 페이지 구현
  client/package-lock.json
  client/package.json
  client/src/assets/images/backward-arrow-icon.svg
  client/src/assets/images/phone-icon.svg
  client/src/components/LinkShareButton/index.tsx
  client/src/components/MeetLocationSettingFooter/index.tsx
  client/src/components/MeetLocationSettingMap/index.tsx
  client/src/components/RestaurantDetailLayer/index.tsx
  client/src/components/RestaurantDetailLayer/styles.tsx
  client/src/components/RestaurantDetailModal/RestaurantDetailModalBody/index.tsx
  client/src/components/RestaurantDetailModal/RestaurantDetailModalBody/styles.tsx
  client/src/components/RestaurantDetailModal/RestaurantDetailModalCarousel/index.tsx
  client/src/components/RestaurantDetailModal/RestaurantDetailModalCarousel/styles.tsx
  client/src/components/RestaurantDetailModal/RestaurantDetailModalTitle/index.tsx
  client/src/components/RestaurantDetailModal/RestaurantDetailModalTitle/styles.tsx
  client/src/components/RestaurantDetailModal/index.tsx
  client/src/components/RestaurantDetailModal/styles.tsx
  client/src/components/RestaurantListLayer/styles.tsx
  client/src/components/RestaurantRow/index.tsx
  client/src/pages/HomePage/index.tsx
  client/src/pages/InitRoomPage/index.tsx
  client/src/styles/GlobalStyle.tsx
  client/src/utils/distance.ts
Labels: 💎 Client, ✨ Feature

#116 음식점 후보 리스트 구현 및 애니메이션 적용
  client/src/assets/images/like-unfilled-icon.svg
  client/src/assets/images/map-location-dot.svg
  client/src/components/Modal/styles.tsx
  client/src/components/RestaurantCandidateList/index.tsx
  client/src/components/RestaurantCandidateList/styles.tsx
  client/src/components/RestaurantDetail/RestaurantDetailModalBody/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailModalBody/styles.tsx
  client/src/components/RestaurantDetail/RestaurantDetailModalCarousel/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailModalCarousel/styles.tsx
  client/src/components/RestaurantDetail/RestaurantDetailModalTitle/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailModalTitle/styles.tsx
  client/src/components/RestaurantDetail/index.tsx
  client/src/components/RestaurantDetail/styles.tsx
  client/src/components/RestaurantDetailLayer/index.tsx
  client/src/components/RestaurantDetailLayer/styles.tsx
  client/src/components/RestaurantFilteredList/index.tsx
  client/src/components/RestaurantFilteredList/styles.tsx
  client/src/components/RestaurantListLayer/index.tsx
  client/src/components/RestaurantListLayer/styles.tsx
  client/src/pages/MainPage/index.tsx
  client/src/pages/MainPage/styles.tsx
  client/src/styles/GlobalStyle.tsx
Labels: 💎 Client, ✨ Feature

#118 5주차 수요일 release 배포
  client/package-lock.json
  client/package.json
  client/src/assets/images/backward-arrow-icon.svg
  client/src/assets/images/like-unfilled-icon.svg
  client/src/assets/images/map-location-dot.svg
  client/src/assets/images/phone-icon.svg
  client/src/components/LinkShareButton/index.tsx
  client/src/components/MeetLocationSettingFooter/index.tsx
  client/src/components/MeetLocationSettingMap/index.tsx
  client/src/components/Modal/styles.tsx
  client/src/components/RestaurantCandidateList/index.tsx
  client/src/components/RestaurantCandidateList/styles.tsx
  client/src/components/RestaurantDetail/RestaurantDetailModalBody/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailModalBody/styles.tsx
  client/src/components/RestaurantDetail/RestaurantDetailModalCarousel/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailModalCarousel/styles.tsx
  client/src/components/RestaurantDetail/RestaurantDetailModalTitle/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailModalTitle/styles.tsx
  client/src/components/RestaurantDetail/index.tsx
  client/src/components/RestaurantDetail/styles.tsx
  client/src/components/RestaurantDetailLayer/index.tsx
  client/src/components/RestaurantDetailLayer/styles.tsx
  client/src/components/RestaurantFilteredList/index.tsx
  client/src/components/RestaurantFilteredList/styles.tsx
  client/src/components/RestaurantListLayer/index.tsx
  client/src/components/RestaurantListLayer/styles.tsx
  client/src/components/RestaurantRow/index.tsx
  client/src/pages/HomePage/index.tsx
  client/src/pages/InitRoomPage/index.tsx
  client/src/pages/MainPage/index.tsx
  client/src/pages/MainPage/styles.tsx
  client/src/styles/GlobalStyle.tsx
  client/src/utils/distance.ts
Labels: Release

#121 모임 자동 삭제
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/constants/time.ts
  server/src/task/task.module.ts
  server/src/task/task.service.ts
  server/tsconfig.json
Labels: 💻 Server, ✨ Feature, ⚙️ Setting

#120 지도에 접속자 마커 표시
  client/package-lock.json
  client/package.json
  client/src/components/ActiveUserInfo/index.tsx
  client/src/components/ActiveUserInfo/styles.tsx
  client/src/components/MainMap/index.tsx
  client/src/components/RestaurantDetail/index.tsx
  client/src/components/RestaurantDetail/styles.tsx
  client/src/components/RestaurantDetailLayer/index.tsx
  client/src/components/RestaurantDetailLayer/styles.tsx
  client/src/components/RestaurantListLayer/index.tsx
  client/src/components/RestaurantListLayer/styles.tsx
  client/src/pages/MainPage/index.tsx
  client/src/pages/MainPage/styles.tsx
  client/src/styles/Variables.ts
  client/src/styles/marker.module.css
Labels: 💎 Client, ✨ Feature

#129 서비스 전체에 폰트 적용
  client/src/App.tsx
  client/src/assets/fonts/BMHANNAAir_ttf.ttf
  client/src/assets/fonts/BMHANNAPro.ttf
  client/src/components/MeetLocationSettingFooter/index.tsx
  client/src/components/MeetLocationSettingFooter/styles.tsx
  client/src/styles/GlobalStyle.tsx
  client/src/styles/font.css
Labels: 💎 Client, 🖍 Design

#128 식당 상세 정보 화면에 길찾기 기능 적용
  client/src/Router.tsx
  client/src/components/RestaurantDetail/RestaurantDetailDrivingInfo/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailDrivingInfo/styles.tsx
  client/src/components/RestaurantDetail/RestaurantDetailModalBody/index.tsx
  client/src/hooks/useCurrentLocation.tsx
  client/src/store/index.tsx
  client/src/utils/distance.ts
  client/src/utils/time.ts
Labels: 💎 Client, ✨ Feature

#135 구글 API를 사용하지 않기 위한 변경 사항 적용
  client/src/components/RestaurantDetail/RestaurantDetailBody/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailBody/styles.tsx
  client/src/components/RestaurantDetail/RestaurantDetailCarousel/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailCarousel/styles.tsx
  client/src/components/RestaurantDetail/RestaurantDetailTitle/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailTitle/styles.tsx
  client/src/components/RestaurantDetail/index.tsx
  client/src/components/RestaurantRow/index.tsx
  client/src/types/socket.d.ts
  server/src/app.module.ts
  server/src/restaurant/restaurant.controller.ts
  server/src/restaurant/restaurant.d.ts
  server/src/restaurant/restaurant.module.ts
  server/src/restaurant/restaurant.schema.ts
  server/src/restaurant/restaurant.service.ts
  server/src/room/room.module.ts
  server/src/room/room.service.ts
  server/src/utils/random.ts
Labels: 🐞bug, 🛠 Refactor, 💻 Server, 💎 Client

#134 카테고리 선택 및 필터링
  client/src/assets/images/arrow-down.svg
  client/src/components/EmptyListPlaceholder/index.tsx
  client/src/components/EmptyListPlaceholder/styles.tsx
  client/src/components/MainMap/index.tsx
  client/src/components/Modal/index.tsx
  client/src/components/Modal/styles.tsx
  client/src/components/RestaurantCandidateList/index.tsx
  client/src/components/RestaurantCategory/index.tsx
  client/src/components/RestaurantCategory/styles.tsx
  client/src/components/RestaurantFilteredList/index.tsx
  client/src/components/RestaurantFilteredList/styles.tsx
  client/src/components/RestaurantListLayer/index.tsx
  client/src/components/RestaurantListLayer/styles.tsx
  client/src/constants/category.ts
  client/src/pages/MainPage/index.tsx
  client/src/pages/MainPage/styles.tsx
  client/src/store/index.tsx
  client/src/styles/GlobalStyle.tsx
  client/src/styles/Variables.ts
  client/src/types/naverMapsMarkerClustering.d.ts
Labels: 💎 Client, ✨ Feature

#141 initRoom에서 시작하기 버튼을 반복해서 클릭할 시 클릭한 횟수만큼 서로 다른 방이 생성되는 버그 수정
  client/src/components/MeetLocationSettingFooter/index.tsx
  server/src/socket/socket.gateway.ts
Labels: 🐞bug, 💎 Client

#142 마커 설명창 디자인
  client/src/components/MainMap/index.tsx
  client/src/styles/GlobalStyle.tsx
  client/src/styles/marker.module.css
Labels: 💎 Client, 🖍 Design

#140 클라이언트 측 api 모듈 작성
  client/src/apis/.gitkeep
  client/src/apis/index.ts
  client/src/components/MeetLocationSettingFooter/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailDrivingInfo/index.tsx
  client/src/constants/url.ts
  client/src/pages/MainPage/index.tsx
  client/src/types/socket.d.ts
  client/tsconfig.json
  client/vite.config.ts
Labels: 🛠 Refactor, 💎 Client

#144 에러 페이지 생성 및 적용
  client/src/Router.tsx
  client/src/components/MeetLocationSettingFooter/index.tsx
  client/src/components/RestaurantCandidateList/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailDrivingInfo/index.tsx
  client/src/constants/error.ts
  client/src/constants/url.ts
  client/src/pages/ErrorPage/index.tsx
  client/src/pages/ErrorPage/styles.tsx
  client/src/pages/HomePage/index.tsx
  client/src/pages/MainPage/index.tsx
Labels: 💎 Client, ✨ Feature

#153 후보 식당 클릭시 상세 페이지 이동
  client/src/components/RestaurantCandidateList/index.tsx
  client/src/components/RestaurantCandidateList/styles.tsx
Labels: 💎 Client, ✨ Feature

#148 음식점 마커 이미지 변경
  client/src/assets/images/chicken.svg
  client/src/assets/images/hamburger.svg
  client/src/assets/images/hotdog.svg
  client/src/assets/images/spaghetti.svg
  client/src/assets/images/sushi.svg
Labels: 💎 Client

#157 Backend response 파일 위치 변경
  server/src/common/response/restaurant.ts
  server/src/constants/response/common.ts
  server/src/constants/response/index.ts
  server/src/constants/response/location.ts
  server/src/main.ts
  server/src/map/map.controller.ts
  server/src/map/map.module.ts
  server/src/map/map.response.ts
  server/src/map/map.service.ts
  server/src/restaurant/restaurant.controller.ts
  server/src/restaurant/restaurant.module.ts
  server/src/restaurant/restaurant.service.ts
  server/src/room/room.controller.ts
  server/src/room/room.module.ts
  server/src/room/room.response.ts
  server/src/room/room.service.ts
  server/src/socket/socket.module.ts
  server/src/task/task.module.ts
  server/tsconfig.json
Labels: 🛠 Refactor, 💻 Server

#152 로딩 스피너 통일
  client/package-lock.json
  client/package.json
  client/src/assets/images/loading-spinner.svg
  client/src/components/LoadingScreen/index.tsx
  client/src/components/LoadingScreen/styles.tsx
  client/src/components/MainMap/index.tsx
  client/src/pages/InitRoomPage/index.tsx
  client/src/pages/MainPage/index.tsx
Labels: 💎 Client, ✨ Feature

#159 geolocation api 비동기 분리
  client/src/components/ActiveUserInfo/index.tsx
  client/src/components/MainMap/index.tsx
  client/src/components/MeetLocationSettingMap/index.tsx
  client/src/hooks/useCurrentLocation.tsx
  client/src/pages/InitRoomPage/index.tsx
  client/src/pages/MainPage/index.tsx
  client/src/types/location.d.ts
  client/src/types/socket.d.ts
  server/src/socket/dto/user-location.dto.ts
  server/src/socket/socket.gateway.ts
  server/src/socket/socket.response.ts
Labels: 🛠 Refactor, 💻 Server, 💎 Client

#164 이미지 오류 발생시 placeholder 이미지 적용
  client/src/assets/images/restaurant-default.jpg
  client/src/components/RestaurantDetail/RestaurantDetailCarousel/index.tsx
  client/src/components/RestaurantRow/index.tsx
Labels: 🛠 Refactor, 💎 Client, 🖍 Design

#171 지도 최소 줌 시 무한로딩 버그 해결
  client/src/constants/map.ts
  client/src/hooks/useNaverMaps.tsx
Labels: 🐞bug, 💎 Client

#174 모임 생성 페이지 내 세부 주소를 2줄까지만 허용하고 그 이후에는 말줄임 표시가 나오도록 수정
  client/src/components/MeetLocationSettingFooter/index.tsx
  client/src/components/MeetLocationSettingFooter/styles.tsx
Labels: 💎 Client, 🖍 Design

#172 가상화 목록 & 인피니티 스크롤 적용
  client/package-lock.json
  client/package.json
  client/src/components/LoadingScreen/index.tsx
  client/src/components/LoadingScreen/styles.tsx
  client/src/components/MainMap/index.tsx
  client/src/components/RestaurantFilteredList/index.tsx
  client/src/components/RestaurantFilteredList/styles.tsx
  client/src/components/RestaurantListLayer/styles.tsx
  client/src/components/VirtualizedRestaurantList/index.tsx
  client/src/components/VirtualizedRestaurantList/styles.tsx
  client/src/pages/InitRoomPage/index.tsx
  client/src/pages/MainPage/index.tsx
Labels: 💎 Client, ✨ Feature

#179 식당 이름 말줄임표 처리
  client/src/components/RestaurantRow/styles.tsx
Labels: 💎 Client

#181 현재 위치 & 모임 위치로 이동하는 gps 버튼 생성
  client/src/assets/images/flag.svg
  client/src/assets/images/gps.svg
  client/src/assets/images/point-circle.svg
  client/src/components/ActiveUserInfo/styles.tsx
  client/src/components/MainMap/index.tsx
  client/src/components/MainMap/styles.tsx
  client/src/components/MeetLocationSettingMap/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailBody/index.tsx
  client/src/constants/map.ts
  client/src/hooks/useCurrentLocation.tsx
  client/src/hooks/useNaverMaps.tsx
  client/src/pages/MainPage/index.tsx
Labels: 💎 Client, ✨ Feature

#180 모임 생성 화면에서 간혹 마커와 상세 주소가 일치하지 않는 버그 수정
  client/src/components/MeetLocationSettingFooter/index.tsx
  client/src/components/MeetLocationSettingMap/index.tsx
  client/src/components/RestaurantRow/index.tsx
  client/src/pages/InitRoomPage/index.tsx
  client/src/pages/MainPage/index.tsx
  client/src/store/index.tsx
Labels: 🐞bug, 💎 Client

#182 CI에 Lint, Test 검증 step 추가
  .github/workflows/dev-check.yml
  client/package.json
  server/package.json
  server/test/app.e2e-spec.ts
Labels: ⚙️ Setting

#184 사용자 on/offline 상태 추가 - 추가작업
  client/src/components/MainMap/index.tsx
  client/src/components/MainMap/styles.tsx
  client/src/components/MeetLocationSettingMap/index.tsx
  client/src/hooks/useCurrentLocation.tsx
  client/src/pages/InitRoomPage/index.tsx
  client/src/pages/MainPage/index.tsx
  client/src/store/index.tsx
  client/src/styles/Variables.ts
Labels: 💎 Client, ✨ Feature

#187 style: button 요소에 cursor: pointer 일괄 적용
  client/src/styles/GlobalStyle.tsx
Labels: 💎 Client

#189 style: 지도 로딩 시 배경에 파란 화면이 나오던 현상 수정
  client/src/pages/MainPage/styles.tsx
Labels: 💎 Client, 🖍 Design

#192 지도의 기본 줌 레벨 수정 16 ->14
  client/src/constants/map.ts
Labels: 💎 Client, 🖍 Design

#194 userLocation 전역 변수의 sideEffect 해결
  client/src/components/MainMap/index.tsx
  client/src/components/MeetLocationSettingFooter/index.tsx
  client/src/components/MeetLocationSettingMap/index.tsx
  client/src/pages/InitRoomPage/index.tsx
  client/src/pages/MainPage/index.tsx
  client/src/store/index.tsx
Labels: 🐞bug, 💎 Client

#199 fix: RestaurantRow 내 버튼이 언마운트될 때 버튼 이벤트를 일괄 삭제하도록 수정
  client/src/components/RestaurantVoteButton/index.tsx
Labels: 🛠 Refactor, 💎 Client

#197 식당 마커 클릭 시 식당정보 미리보기 구현
  client/src/components/MainMap/index.tsx
  client/src/components/MainMap/styles.tsx
  client/src/components/MapController/index.tsx
  client/src/components/MapController/styles.tsx
  client/src/components/RestaurantDetailLayer/index.tsx
  client/src/components/RestaurantPreview/index.tsx
  client/src/components/RestaurantPreview/styles.tsx
  client/src/components/RestaurantRow/index.tsx
  client/src/components/RestaurantRow/styles.tsx
  client/src/pages/MainPage/index.tsx
  client/src/pages/MainPage/styles.tsx
  client/src/store/index.tsx
  client/src/styles/Variables.ts
Labels: 💎 Client, ✨ Feature

#201 선택된 식당 정보를, 미리보기와 상세화면에서 공유하며 생기는 오류 수정
  client/src/components/MainMap/index.tsx
  client/src/components/MapController/index.tsx
  client/src/components/RestaurantCandidateList/styles.tsx
  client/src/components/RestaurantFilteredList/index.tsx
  client/src/components/RestaurantPreview/index.tsx
  client/src/pages/MainPage/styles.tsx
  client/src/store/index.tsx
Labels: 💎 Client, 🚑 hotfix

#203 geo API 사용 불가한 경우 예외처리
  client/src/components/MainMap/index.tsx
  client/src/components/MapController/index.tsx
  client/src/hooks/useCurrentLocation.tsx
Labels: 💎 Client, 🚑 hotfix

#207 .gitkeep 제거
  .gitignore
  client/src/assets/fonts/.gitkeep
  client/src/assets/images/.gitkeep
  client/src/components/.gitkeep
  client/src/constants/.gitkeep
  client/src/hooks/.gitkeep
  client/src/utils/.gitkeep
Labels: ⚙️ Setting

#214 redis 비동기 처리 (runtime error 문제해결)
  server/src/socket/socket.gateway.ts
Labels: 🐞bug, 💻 Server

#209 모임 생성 시 서버 측 photoUrlList가 Null Safety하지 않았던 부분 수정
  server/src/restaurant/restaurant.service.ts
Labels: 🐞bug, 💻 Server

#212 env 템플릿 생성, MongoDB 관련 환경 변수 변경
  .gitignore
  README.md
  client/.env.template
  server/.env.template
  server/src/app.module.ts
Labels: ⚙️ Setting

#217 가짜 이미지임을 나타내는 'FAKE' 문자 오버레이 작업
  client/src/assets/images/fake-word.svg
  client/src/assets/images/shortcut.svg
  client/src/components/MainMap/index.tsx
  client/src/components/MeetLocationSettingMap/styles.tsx
  client/src/components/Modal/styles.tsx
  client/src/components/RestaurantDetail/RestaurantDetailBody/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailBody/styles.tsx
  client/src/components/RestaurantDetail/RestaurantDetailCarousel/index.tsx
  client/src/components/RestaurantDetail/RestaurantDetailCarousel/styles.tsx
  client/src/components/RestaurantDetail/index.tsx
  client/src/components/RestaurantRow/index.tsx
  client/src/components/RestaurantRow/styles.tsx
  client/src/types/socket.d.ts
  server/src/restaurant/restaurant.d.ts
  server/src/restaurant/restaurant.service.ts
Labels: 💎 Client, ✨ Feature
